---
---

<footer class="bg-black text-white p-6 border-t-8 border-white">
  <div class="max-w-6xl mx-auto text-center">
    <p class="font-black text-xl">© 2025 FRANUSI.DEV - SHARING DEVOPS KNOWLEDGE & BEST PRACTICES</p>
  </div>
</footer>
